@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

.ant-btn-primary {
  @apply bg-teal-950;
}

.loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}


button.ant-btn.css-dev-only-do-not-override-1drr2mu.ant-btn-primary.ant-btn-sm {
  background: darkslategray;
}

.datePickerClass {
  display: block; 
  padding: 0.725rem; 
  border-radius: 0.5rem; 
  border-width: 1px; 
  border-color: #D1D5DB; 
  width: 100%; 
  font-size: 0.975rem;
  line-height: 1.25rem; 
  color: #111827; 
  background-color: #F9FAFB; 
}
